# Copy to .env and set your values
GF_ADMIN_PASSWORD=changeme
OPNSENSE_URL=https://your_ip_here/api/unbound/diagnostics/stats
OPNSENSE_API_KEY=your_api_key_here
OPNSENSE_API_SECRET=your_api_secret_here
